{% extends 'base.html' %}

<!-- {% block title %}{% endblock %} -->

{% block css %}
<script type="text/javascript">
	function login() {
		var errmsg = document.getElementById("errmsg");
		var form = document.loginform;
		var username = form.username.value.trim();
		var password = form.password.value.trim();
		var remember_me = form.remember_me.checked;
		if(0 == username.length) {
			errmsg.innerHTML="请输入账号";
			form.username.select();
			return false;
		}
		if(0 == password.length) {
			errmsg.innerHTML="请输入密码";
			form.password.select();
			return false;
		}
		setCookie("username", username, remember_me ? 30 : 0);
		setCookie("password", password, remember_me ? 30 : 0)
		return true;
	}
	window.onload = function() {
		var form = document.loginform;
		form.username.value = getCookie("username");
		form.password.value = getCookie("password");
	};
	function setCookie(name, value, exdays) {
	    var d = new Date();
	    d.setTime(d.getTime()+(exdays*24*60*60*1000));
	    var expires = "expires="+d.toGMTString();
	    document.cookie = name+"="+value+"; "+expires;
	}
	function getCookie(name) {
	    var n = name + "=";
	    var cookies = document.cookie.split(';');
	    for(var i=0; i<cookies.length; i++) {
	        var c = cookies[i].trim();
	        if (c.indexOf(n)==0) { return c.substring(n.length,c.length); }
	    }
	    return "";
	}
</script>
{% endblock %}

{% block content %}
{{ game.description|safe }}

<p id="errmsg" class="red">{{error_message}}</p>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if op_action == 'create_player' %}
<form action="/wap/?cmd={{ create_param }}" method="post">
	{% csrf_token %}
	<h4>======>角色信息<======</h4>
	<p>角色名称：<input type="text" name="player_name" /></p>

    <p>角色性别：
        <input type="radio" id="gender_M" name="gender" value="M" checked="checked" />
        <label for="gender_M">男</label>
        <input type="radio" id="gender_M" name="gender" value="F" />
        <label for="gender_F">女</label>
        <input type="radio" id="gender_M" name="gender" value="O" />
        <label for="gender_O">保密</label>

    </p>
	<p>角色宣言：<input type="text" name="signature" /></p>
	<p><input type="submit" value="创建角色" onclick="return login();" /></p>
</form>
<p><a href="/index/">返回首页</a></p>


{% elif op_action == 'create_gang'%}
<form action="/wap/?cmd={{ create_param }}" method="post">
	{% csrf_token %}
	<h4>======>宗门信息<======</h4>
    <p>创建宗门需玩家等级达到50级，消耗宗门令牌x1，请决定后再创建。</p>
    <p>请输入你的中文宗门名称，一旦选定无法更改，请仔细选取：</p>
	<p>宗门名称：<input type="text" name="gang_name" placeholder="长度不能超过六个汉字" /></p>

	<p>宗门宗旨：<input type="text" name="gang_zongzhi" /></p>
	<p><input type="submit" value="创建宗门" onclick="return login();" /></p>
</form>

<a href="#" onclick="goBack()">返回上页</a>
<p><a href="/wap/?cmd={{wap_encrypted_param}}">返回首页</a></p>



{% elif op_action == 'create_team'%}
<!-- <form action="/wap/?cmd={{ create_param }}" method="post"> -->
	{% csrf_token %}
    <p>你确定要创建队伍吗？</p>
	<p><a href="/wap/?cmd={{ comfirm_encrypted_param }}">确定创建</a></p>
<!-- </form> -->

<a href="#" onclick="goBack()">返回上页</a>
<p><a href="/wap/?cmd={{wap_encrypted_param}}">返回首页</a></p>


{% elif op_action == 'break_team'%}
<!-- <form action="/wap/?cmd={{ create_param }}" method="post"> -->
	{% csrf_token %}
    <p>退出后，最先加入的队员将会成为新的队长。若队伍仅剩最后一人，则退出同时会解散队伍。</p>
	<p>你确定要退出队伍吗？</p>
	<p><a href="/wap/?cmd={{ comfirm_encrypted_param }}">确定退出</a></p>
<!-- </form> -->

<a href="#" onclick="goBack()">返回上页</a>
<p><a href="/wap/?cmd={{wap_encrypted_param}}">返回首页</a></p>



{% elif op_action == 'record_apply_gang'%}
<form action="/wap/?cmd={{ create_param }}" method="post">
	{% csrf_token %}
    <p>你已申请加入宗门:</p>
	<p>宗门。撤销申请</p>

</form>

<a href="#" onclick="goBack()">返回上页</a>
<p><a href="/wap/?cmd={{wap_encrypted_param}}">返回首页</a></p>

{% else %}



{% endif %}



{% endblock %}