{% extends 'base.html' %}
{% block title %} 进入游戏 {% endblock %}
{% load static %}

{% block content %}

<img src="{% static 'images/pets/赤焰马.png' %}" alt="runoob-logo" width="240px" height="200px">

<div id="content"></div>
{% if op_action == 'detail_player' %}

<p>名称：{{ player.name }} [{{ status }}]</p>
<p>性别：{{ player.get_gender_display }}</p>
<p>个性签名：{{ player.signature|default:"这家伙很高深，什么也没透露" }}</p>
<p>等级：{{ player.rank_title }}</p>
<p>经验：{{ player.current_exp }}/{{player.max_exp}}</p>
<p>生命：{{ player.current_hp }}/{{player.max_hp}}</p>
<p>攻击：{{ player.min_attack }}-{{player.max_attack}}</p>
<p>防御：{{ player.min_defense }}-{{player.max_defense}}</p>
<p>敏捷：{{ player.agility }}</p>
<p>灵魂力：{{ player.linghunli }}</p>
<p>声望：{{ player.reputation }}</p>
<p>宗门：{% if player.gang %} <a href="/wap/?cmd={{gang_encrypted_param}}">{{ player.gang }}</a> {% else %} 未加入宗门 {% endif %}</p>

{% if equip_list %}

{% for equip in equip_list %}
    <p>{{equip.position}}：<a href="/wap/?cmd={{equip.cmd_params}}">{{equip.item_name}}</a></p>

{% endfor %}
{% endif %}





{% elif op_action == 'npc' %}
<p>名称：{{ npc.name }}</p>
<p>描述：{{ npc.description }}</p>
<p>{{ npc.dialogue }}</p>

{% if npc.type == 'monster' %}
<p>等级：{{ npc.level }}级</p>
<p>生命：{{ npc.hp }}</p>
<p>攻击：{{ npc.attack }}</p>
<p>防御：{{ npc.defense }}</p>

    {% if npc.drop_info %}
      <div class="drop-info">
        <p>可能掉落:

          {% for drop in drop_info %}

            <a href="/wap/?cmd={{drop.item_params}}">{{ drop.item_name }} </a>、

          {% endfor %}
        </p>
      </div>
    {% endif %}

<p><a href="/wap/?cmd={{attack_encrypted_param}}">攻击</a></p>

<p> {% for skill in player_skills %} <a href="/wap/?cmd={{skill.cmd_params}}">{{skill.name}}</a>{% endfor %} </p>
{% else %}
{% endif %}

{% elif op_action == 'npc' and sub_action == 'monster' %}

{% else %}
{% endif %}
</div>

<a href="#" onclick="goBack()">返回上页</a><br>
<a href="/wap/?cmd={{ wap_encrypted_param }}">返回游戏</a>


{% endblock %}
